body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: rgb(77, 198, 246)

}
#title{
    text-align: center;
}

#weatherForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.menu-bar{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    
    height: 40px;
    margin-top: 5px;
     /* position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
  margin-bottom: 100px;
  clear: both; */

}

path{
    fill: white;

}
 .menu-left-title{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 3px;
 

 }
 .menu-logo {
 border: 2px solid red
 

 }
 
.heart-button{
    background-color: transparent;
     align-self: center;
    cursor: pointer;
    width: 45px;
    height: 40px;
    border: 2px solid rgb(34, 134, 174);
    border: none;
   
  
}
.heart-button:hover{
    background-color: rgb(22, 147, 197);;
    border: none

  
}
.heart-button svg{

     width: 20px;
    /* height: 20px;  */
    /* padding-bottom: 15px; */
    fill: rgb(49, 129, 160);;
}
a button{
    height: 40px;
    border: 2px solid rgb(31, 160, 211);;
    font-size: 1.1rem;
    padding: 10px;
   background-color: rgb(31, 160, 211);;
}
a button:hover{
    background-color: rgb(22, 147, 197);;
   
}
.weather-info{
   margin-top: 10px;
    border: 2px solid black;
}
.weather-infor-nav{
       background-color: rgb(31, 160, 211);;
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;  
        display: flex;
        justify-content: space-between;
        align-items: center;
}



.weather-info-details{
   display: flex;
   justify-content:flex-start;
   align-items: center;
padding: 0;
margin: 0;
}

  #temp{
    font-size: 3.5rem;
    font-weight: bold;
    /* margin-right: 5px; */
    padding: 0px;
    margin: 0;
    color: white;
  }
    #deg-cel{
        font-size: 3.5rem;
        font-weight: bold;

        color: white;
        padding: 0px;
    }
    #deg-fah{
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 5px;
        color: white;
        padding: 0px;
    }
    #icon{
     
        padding-left: 0;
        padding: 0;
        align-items: left;
        margin-left: 0;
        /* width: 100px;
        height: 80px; */
        padding-bottom: 0px;
        padding: 0px;

    
    }
    #icon img{
       
        padding-left: 0;
        width: 90px;
        height: 70px;
        padding: 0px;
       

    }

.weather-info-description{
    
   display: flex;
   font-size: 1.5rem;
    font-weight: bold;
   
    color: white;
    justify-content: space-between;
   
}

.weather-info-description p{
    margin: 0;
    padding: 5px;
    padding-top: 0px;
    
}

.weather-info-description button{

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 30px;
    width: 30px;
    /* border: 2px solid rgb(31, 160, 211);; */
    font-size: 1rem;
    padding: 10px;
   /* background-color: rgb(31, 160, 211);; */
   margin-right: 10px;
   /* font-weight: bold; */
   font-size: 1.5rem;;
   border: none;
   

}
.weather-info-description button:hover{
    background-color: rgb(22, 147, 197);;
   
}   

/* .items-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(77, 198, 246);
} */

.pres-sunrise-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.feels-like{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    margin-left: 10px;
    padding: 5px;
    
}

.feels-like-deg{
    font-size: 1.7rem;
    font-weight: bold;
}
.details-divider{
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
}


.info-divider{
    /* border: 2px solid black; */
    width: 50%;
    padding: 0;
    margin: 10px;
     background-color: transparent;
    
}

.sub-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    /* font-size: 1rem; */
    /* font-weight: bold; */
    /* color: white; */
    background-color: rgb(31, 160, 211);
    border-bottom: 1px solid rgb(207, 205, 205);
   
    margin-left: 0;
    padding: 5px;
   
}